# Normalize all text files to LF in the repo (deployed to Linux)
* text=auto eol=lf

# Force binary files to not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.mp4 binary
*.webm binary
*.mov binary
